<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>helpON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E88CE3521E70AF1400C2067F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88CE36C1E70AF1400C2067F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E88CE3771E70AF1400C2067F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
